__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
build/
dist/
*.spec.bak
models/*
!models/.gitkeep
data/cache/*
data/input/*
data/output/*
!data/cache/.gitkeep
!data/input/.gitkeep
!data/output/.gitkeep
*.log
.env
.idea/
.vscode/
